@use '/src/utils/SASS/variables' as *;

.message {
    margin: 25px 0;
    padding: 20px;
    border-radius: 20px;
    border: none;
    height: max-content;
    letter-spacing: 1px;
    word-spacing: 1px;

    &.message-in {
        background-color: $primary-color-background-current-chats-in;
    }

    &.message-out {
        background-color: $primary-color-background-current-chats-out;
        margin-left: auto;
    }
}

.iframe-messages {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 60vh;
    margin-bottom: 20px;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 580px) {
    .message {
        width: 350px;
    }
}
