@use '/src/utils/SASS/variables' as *;

.block-current-chat {
    width: 70%;
    margin: 25px 100px;
    height: calc(100vh - 140px);
    background-color: $primary-color-background;
    color: $primary-color-font;
    display: flex;
    flex-direction: column;
}

@media (max-width: 760px) {
    .block-current-chat {
        position: block;
    }
}

@media (min-width: 760px) {
    .block-current-chat {
        position: relative;
    }
}
