@use '/src/utils/SASS/variables' as *;

.block-current-chat {
    height: calc(100vh - 140px);
    background-color: $primary-color-background;
    color: $primary-color-font;
    display: flex;
    flex-direction: column;
}

@media (max-width: 760px) {
    .block-current-chat {
        position: static;
    }
}

@media (min-width: 760px) {
    .block-current-chat {
        position: relative;
    }
}

@media (max-width: 580px) {
    .block-current-chat {
        margin: 25px 10px;
        width: 90vw;
    }
}

@media (min-width: 580px) {
    .block-current-chat {
        margin: 25px 100px 25px 10px;
        width: 70%;
    }
}
