p[class='ask-choose-chat-text'] {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    white-space: nowrap;
}
