@use '/src/utils/SASS/variables' as *;
@use '/src/utils/SASS/mixins' as *;

.form {
    @include flex-column-center;
    @include form;

    .form__title-form {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form__form-auth {
        padding: 20px;
        border-radius: 20px;
        border: 3px solid $primary-color-font;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 280px;

        input {
            padding: 10px;
            border-radius: 20px;
            border: 3px solid $primary-color-font;
            background-color: transparent;
            font-size: 16px;
            color: white;
            margin-top: 16px;
            margin-bottom: 30px;

            &:active,
            &:focus {
                outline: none;
                border-color: white;
            }

            &.error {
                border: 3px solid $border-red-color;
            }
        }

        button {
            padding: 10px;
            border-radius: 20px;
            border: 3px solid $primary-color-font;
            font-size: 18px;
            color: $primary-color-font;
            background-color: transparent;
            padding: 16px 24px;
            margin-bottom: 12px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .form__description-form-reg {
            font-size: 12px;
            color: rgb(164, 163, 163);
        }
    }
}
