@use '/src/utils/SASS/variables' as *;

.other-chat-left {
    background-color: $primary-color-left-side;
    border-radius: 20px;
    border: none;
    width: 250px;
    height: 60px;
    padding: 20px;
    margin: 25px 0;
    color: $primary-color-font;

    &:hover {
        cursor: pointer;
        border: 2px solid $primary-color-left-chats-border;
    }
}

p[class='warning-empty-chats-text'] {
    font-size: 20px;
    color: $primary-color-font;
    position: absolute;
    top: 49%;
}
