@use '/src/utils/SASS/mixins' as *;
@use '/src/utils/SASS/variables' as *;

.form {
    @include form-center-absolute;
    text-align: center;

    button.form__continue-retry {
        padding: 15px;
        border-radius: 20px;
        border: 3px solid $primary-color-font;
        font-size: 20px;
        background-color: $primary-color-background;
        color: $primary-color-font;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    p.form__description-sorry-connection {
        font-size: 24px;
        color: $primary-color-font;
        margin-bottom: 20px;
        letter-spacing: 2px;
        line-height: 40px;
    }
}
