input[class='input-write-message'] {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #494949;
    color: white;
    width: 80%;
}
