@use '../../utils/SASS/variables' as *;

.block-write-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;

    textarea.block-write-messages__textarea {
        font-size: 20px;
        border-radius: 20px;
        padding: 10px 20px;
        border: 3px solid transparent;
        background-color: #494949;
        color: white;
        width: 70%;
        resize: none;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &.error {
            border: 3px solid $border-red-color;
        }
    }

    &__send-message {
        width: 150px;
        background-color: $primary-color-background-dark;
        border: none;
        font-size: 20px;
        color: $primary-color-font;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: $header-color;
        margin-top: 16px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
