@use '/src/utils/SASS/variables' as *;

.header {
    background-color: $header-color;
    color: white;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__outter-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;

        p[class='header__exit']:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &-form-logins-result {
            display: flex;
            flex-direction: column;
        }
    }

    input[class='header__search-user'] {
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: $primary-color-background-current-chats-in;
        color: white;
        font-size: 14px;
    }
}
