.header {
    background-color: #5e4646;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__outter-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p:last-child {
            margin: 0 100px;
        }

        p[class='header__exit']:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
